.ui-input input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text);
  font-weight: 100;
  box-sizing: border-box;
}

.ui-input input::placeholder {
  font-size: 14px;
  color: var(--placeholder);
  font-weight: 100;
}

.ui-input input:focus {
  border: 1px solid rgba(208, 211, 220, 0.5);
  color: var(--focus-color);
  outline: none;
}

.ui-input.size-small input {
  height: 32px;
  font-size: 14px;
}

.ui-input.variant-normal input {
  border: 1px solid rgba(20, 2, 52, 0.12);
  background: rgba(20, 2, 52, 0.12);
  color: #6d7383;
}

.ui-input.variant-normal input::placeholder {
  color: #6d7383;
}

.ui-form + .ui-form {
  margin-top: 12px;
}
