.ui-fullpage {
  position: relative;
  height: 100vh;
}

.ui-fullpage .fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ui-fullpage .info-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  text-align: center;
}

.onboarding {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100% - 104px);
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.onboarding .onboarding-box {
  display: inline-block;
}
.onboarding-logo {
  width: 120px;
  height: 120 px;
  margin: 0 auto;
}

.onboarding-logo img {
  width: 100%;
}

.onboarding-title {
  font-size: 16px;
  font-weight: 400;
}

.onboarding-subtitle {
  margin-top: 12px;
  font-size: 14px;
}
