.ui-textarea textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  min-height: 135px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text);
  font-weight: thin;
  box-sizing: border-box;
  font-weight: normal;
}

.ui-textarea textarea::placeholder {
  color: var(--placeholder);
  font-weight: thin;
}

.ui-textarea textarea:focus {
  border: 1px solid rgba(208, 211, 220, 0.5);
  color: var(--focus-color);
  outline: none;
}
