.ui-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.ui-list .list-li {
  margin-top: 20px;
}

.ui-list .list-li:first-child {
  margin-top: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.list-item .list-item-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ui-list .list-item .list-item-actions {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: center;
  font-size: 10px;
  color: #9ca2ae;
  text-align: right;
}

.ui-list .list-item .list-item-actions span + span {
  margin-left: 4px;
}

.list-item-meta .list-item-meta-avatar {
  width: auto;
  display: inline-block;
  align-self: center;
}

.list-item-meta .list-item-meta-avatar + .list-item-meta-content {
  padding-left: 8px;
}

.list-item-meta .list-item-meta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: left;
}

.list-item-meta .list-item-meta-content .list-item-meta-title {
  font-size: 14px;
}

.list-item-meta .list-item-meta-content .list-item-meta-title.main-style {
  font-size: 18px;
  font-weight: 500;
}

.item-meta .item-meta-content .list-item-meta-description {
  font-size: 12px;
}

.ui-list.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.ui-list.grid li.list-li {
  list-style: none;
  margin-top: 0;
  flex: 0 0 calc(50% - 8px);
}

.ui-list.reverse {
  color: var(--text-reverse);
}
