.auth-email-page {
  background: #100f1c;
}

.auth-email-page .main {
  padding: 16px 32px 30px;
}

.auth-email-page .ui-typography.level-1 {
  font-size: 20px;
  color: var(--text);
  font-weight: 700;
  line-height: 1.4;
}

.auth-email-page .ui-typography.level-2 {
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
}

.auth-email-page .auth-email-box {
  padding-top: 32px;
}

.auth-email-page .info-text {
  padding-bottom: 8px;
  text-align: center;
  font-size: 12px;
  color: #f8e463;
}

.auth-email-page .ui-formgroup .formgroup-title {
  color: #6d7383;
}
