.auth-email-page {
  .ant-form-item {
    input,
    textarea {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      background-clip: padding-box;
      height: 56px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 10px 10px;
      border-radius: 8px;
      font-size: 14px;
      color: var(--text);
      font-weight: bold;
      box-sizing: border-box;
    }

    textarea {
      min-height: 135px;
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 14px;
      color: var(--placeholder);
    }

    input:focus,
    textarea:focus,
    input:hover,
    textarea:hover {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 1);
      color: var(--focus-color);
      outline: none;
      box-shadow: none;
    }

    .ant-picker-outlined {
      background: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.1);
      height: 56px;
    }

    .ant-picker .ant-picker-input > input:hover,
    .ant-picker .ant-picker-input > input:focus {
      background-color: transparent;
      border-color: transparent;
      padding-left: calc(40% - 11px);
      color: var(--focus-color);
      outline: none;
    }

    .ant-picker .ant-picker-suffix {
      display: none;
    }

    .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled),
    .ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled) {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .ui-formgroup .ant-form-item input {
    padding-left: 40%;
  }

  .ui-formgroup + .ui-formgroup {
    margin-top: 0;
  }
  .btn-box .ant-col-offset-8 {
    margin: 0;
  }

  .ant-col-16,
  .ant-col-offset-8 {
    width: 100%;
    margin: 0;
  }
}
