.auth-success-page {
  background: #100f1c;
}

.auth-success-page .ui-msg-info {
  height: 100vh;
  padding-bottom: 156px;
}

.auth-success-page .btn-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.auth-success-page .info-text {
  padding-bottom: 16px;
  text-align: center;
  font-size: 12px;
  color: #f8e463;
}
