.ui-formgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.ui-formgroup .formgroup-title {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 14px;
  color: var(--text);
}

.ui-formgroup .formgroup-title.size-large {
  top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.ui-formgroup .formgroup-title.required:after {
  content: "";
  display: inline;
  position: absolute;
  top: -2px;
  right: -8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
}

.ui-formgroup .formgroup-title .icon {
  margin-right: 4px;
  vertical-align: top;
  position: relative;
  top: -3px;
}

.ui-formgroup .formgroup-content {
  flex: 1;
}

.ui-formgroup .formgroup-content .ui-form input {
  padding-left: 30%;
}

.ui-formgroup.direction-vertical {
  display: block;
}
.ui-formgroup.direction-vertical .formgroup-title {
  position: static;
  font-size: 16px;
  font-weight: 500;
}
.ui-formgroup.direction-vertical .formgroup-content {
  margin-top: 8px;
}
.ui-formgroup.direction-vertical .formgroup-content .ui-form input {
  padding-left: 10px;
}

.ui-formgroup + .ui-formgroup {
  margin-top: 16px;
}
