.date-picker-modal {
  padding: 40px 18px 0;
}

.date-picker-modal .btn-box {
  padding: 18px 0 20px;
}

.date-picker-modal .btn-box .btn {
  height: 48px;
}
.date-picker-modal .btn-box .btn + .btn {
  margin-top: 12px;
}
