.invite-card-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(#5242b8, #3c2dae 54%, #8c9ffb 100%);
}
.invite-card-page .img-edit {
  overflow: hidden;
  position: relative;
  width: 155px;
  height: 155px;
  margin: 0 auto 40px;
}

.invite-card-page .img-edit .btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
}

.invite-card-page .ui-formgroup.direction-vertical {
  margin-top: 24px;
}

.invite-card-page .btn-box {
  display: flex;
  gap: 6px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
}
