.ui-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.ui-modal .modal-container {
  position: absolute;
  top: 100px;
  left: 32px;
  right: 32px;
  border-radius: 16px;
  background-image: linear-gradient(#e1e6fe, #f1d7ff);
}

.modal-container .btn-modal-close {
  position: absolute;
  top: -52px;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  background: #e2deff;
  border-radius: 50%;
}

.modal-container .modal-header {
  padding-top: 40px;
  position: relative;
}

.modal-container .modal-header .modal-title {
  height: 40px;
}

.modal-container .modal-body {
}

.modal-dim {
  background: rgba(0, 0, 0, 0.5);
}
