.invite-card-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 200px);
}
.invite-card-modal .search-header {
  display: flex;
  flex-direction: row;
  padding: 40px 16px 16px;
}

.invite-card-modal .search-header .btn {
  width: 32px;
  height: 32px;
  min-width: 0;
  margin-right: 15px;
  padding: 0;
}

.invite-card-modal .search-header .search-box {
  position: relative;
  flex: 1;
}

.invite-card-modal .search-header .search-box .icon {
  position: absolute;
  top: 10px;
  right: 14px;
  pointer-events: none;
}
.invite-card-modal .ui-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.invite-card-modal .ui-tabs .tabs-content {
  flex: 1;
  padding: 24px 16px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}

.invite-card-modal .tabs-content-item {
  flex: 1;
}

.invite-card-modal .image-list-box {
}

.invite-card-modal .image-list-box .ui-image {
  padding-bottom: 100%;
}

.invite-card-modal .image-list-box .ui-image img {
  height: auto !important;
}

.invite-card-modal .btn-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 16px 32px;
  box-sizing: border-box;
}
