.ui-msg-info {
  text-align: center;
  display: flex;
  color: var(--text);

  padding: 24px 32px;
  box-sizing: border-box;
  width: 100%;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.ui-msg-info .msg-info-icon {
  display: inline-block;
  margin: 0 auto 24px;
}

.ui-msg-info .msg-info-title {
  font-size: 20px;
  background: linear-gradient(0deg, #e1e6fe, #f1d7ff, #319197);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-msg-info .msg-info-subtitle {
  font-size: 16px;
}
.ui-msg-info .msg-info-title + .msg-info-subtitle {
  margin-top: 12px;
}
