.box {
  padding: 24px 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-radius: 8px;
}
.box.line {
  border: 1px solid #374351;
  background: rgba(255, 255, 255, 0.5);
}
