.box {
  padding: 16px 16px 18px;
  border: 1px solid rgba(226, 226, 255, 0.1);
  background: rgba(226, 226, 255, 0.1);
  background-clip: padding-box;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  min-height: 106px;
  box-sizing: border-box;
  color: var(--text);
}
.box.line {
  padding: 36px 36px 48px;
  border: 1px solid #374351;
  background: rgba(226, 226, 255, 0.1);
}
